.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding-top: 30px;
  padding-bottom: 10px;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  font-size: 20px;
  font-family: "Verdana", sans-serif;
}
.navbar li {
  list-style-type: none;
}
.navbar li a {
  text-decoration: none;
  color: black;
  padding: 1rem;
  display: block;
}
.navbar li a::after {
  content: "";
  width: 0px;
  height: 1px;
  display: block;
  background: black;
  transition: 300ms;
}
.navbar li a:hover::after {
  width: 100%;
}
.navbar .toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 2.1rem;
  height: 2.1rem;
  cursor: pointer;
}
.navbar .toggle-button .bar {
  width: 100%;
  height: 3px;
  background-color: black;
  transition: all 0.8s;
}
.navbar .toggle-button.active .bar-1 {
  transform: rotateZ(-410deg) translate(-8px, 8px);
}
.navbar .toggle-button.active .bar-2 {
  opacity: 0;
}
.navbar .toggle-button.active .bar-3 {
  transform: rotateZ(410deg) translate(-10px, -11px);
}

.logo-image {
  width: 40px;
  height: auto;
  margin-left: 40px;
}

.container .title_homepage h1 {
  font-family: "Roboto";
  font-size: 50px;
  font-weight: bold;
  margin-left: 203px;
  margin-top: 250px;
}
.container .title_homepage line-animation::after {
  content: "";
  width: 0px;
  height: 1px;
  display: block;
  background: black;
  transition: 300ms;
}
.container .title_homepage line-animation:hover::after {
  width: 100%;
}
.container .img_fluid {
  width: 500px;
  height: auto;
  position: absolute;
  right: 10%;
  top: 200px;
}
.container .welkomteksten {
  font-size: 20px;
  width: 600px;
  margin-left: 208px;
}

.stagecontainer {
  padding-bottom: 100px;
}
.stagecontainer .stagetitel h1 {
  font-family: "Roboto";
  font-size: 50px;
  font-weight: bold;
  margin-left: 203px;
  margin-top: 400px;
}
.stagecontainer .stageteksten {
  font-size: 20px;
  width: 600px;
  margin-left: 208px;
}
.stagecontainer .img-stage {
  width: 500px;
  height: auto;
  position: absolute;
  right: 10%;
  top: 950px;
}

.portfolio-items .portfolio-titel {
  color: black;
  text-align: center;
  font-size: 60px;
  font-family: "Verdana", sans-serif;
}
.portfolio-items .list-group {
  display: flex;
  margin-top: 150px;
  justify-content: space-evenly;
}
.portfolio-items .list-group .list-group-item {
  list-style-type: none;
}
.portfolio-items .list-group .list-group-item .items {
  width: 400px;
  height: auto;
  text-align: center;
}
.portfolio-items .list-group .list-group-item .items a {
  text-decoration: none;
  color: black;
  font-family: "Verdana", sans-serif;
}
.portfolio-items .list-group .list-group-item .items :hover {
  opacity: 0.5;
}

.content-stage {
  display: flex;
  line-height: 1.5rem;
  margin-top: 150px;
  margin-left: 100px;
  position: relative;
}
.content-stage p {
  width: 900px;
  margin-top: 150px;
}
.content-stage img {
  width: 500px;
  margin-left: 50px;
}

.content-stage2 {
  display: flex;
  flex-direction: row-reverse;
  line-height: 1.5rem;
  margin-top: 150px;
  margin-right: 100px;
  position: relative;
}
.content-stage2 p {
  width: 900px;
  margin-top: 150px;
  margin-left: 50px;
}
.content-stage2 img {
  width: 500px;
  width: 500px;
}

.positionh1 {
  position: relative;
}
.positionh1 .titlecss {
  position: absolute;
  left: 360px;
  top: 180px;
  font-size: 50px;
  font-family: "Verdana", sans-serif;
}

.positionh1-2 {
  position: relative;
}
.positionh1-2 .titlecss {
  position: absolute;
  right: 440px;
  top: 180px;
  font-size: 50px;
  font-family: "Verdana", sans-serif;
}

.accordion {
  box-sizing: border-box;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  width: 100%;
}

.accordion-select {
  cursor: pointer;
  margin: 0;
  opacity: 0;
  z-index: 1;
}

.accordion-title {
  position: relative;
}

.accordion-title:not(:nth-last-child(2))::after {
  border: 1px solid transparent;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.accordion-title span {
  bottom: 0px;
  box-sizing: border-box;
  display: block;
  position: absolute;
  white-space: nowrap;
  width: 100%;
}

.accordion-content {
  box-sizing: border-box;
  overflow: auto;
  position: relative;
  transition: margin 0.3s ease 0.1s;
}

.accordion-select:checked + .accordion-title + .accordion-content {
  margin-bottom: 0;
  margin-right: 0;
}

/* Generated styles starts here */
.accordion {
  border-color: #dedede;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  height: auto;
  width: 600px;
  margin-left: 500px;
  margin-top: 200px;
}

.accordion-title,
.accordion-select {
  background-color: #ffffff;
  color: #7f8787;
  width: 100%;
  height: 65px;
  font-size: 15px;
}

.accordion-select {
  margin-bottom: -65px;
  margin-right: 0;
}

.accordion-title:not(:nth-last-child(2))::after {
  border-bottom-color: #eaeaea;
  border-right-color: transparent;
}

.accordion-select:hover + .accordion-title,
.accordion-select:checked + .accordion-title {
  background-color: #ffffff;
}

.accordion-title span {
  transform: rotate(0deg);
  -ms-writing-mode: lr-tb;
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
  padding-left: 33px;
  padding-right: 33px;
  line-height: 65px;
}

.accordion-content {
  background-color: #f7f7f7;
  color: #7f8787;
  height: 280px;
  margin-bottom: -280px;
  margin-right: 0;
  padding: 30px;
  width: 100%;
}

* {
  box-sizing: border-box;
}

body, html {
  cursor: url(https://i.imgur.com/BMeJ25j.png), default;
}

html {
  margin-top: 0 !important;
}

body {
  margin: 0;
  padding: 0;
}
body p {
  font-family: Roboto;
}

.content {
  margin-top: 120px !important;
}

@media screen and (max-width: 599px) {
  .scroll .scrolltop {
    position: static;
    left: 300px;
    bottom: 15px;
    font-size: 60px;
    color: black;
  }

  .menu-open:after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 250%;
    z-index: 9;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
  }

  .navbar {
    position: relative;
    z-index: 10;
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar .toggle-button {
    display: flex;
    margin-top: 30px;
    width: 50px;
    height: 30px;
    margin-right: 10px;
  }

  .menu-container {
    z-index: 9999;
    background-color: white;
    display: none;
    width: 100%;
  }
  .menu-container.active {
    display: block;
  }
  .menu-container ul {
    width: 100%;
    flex-direction: column;
  }
  .menu-container li {
    text-align: center;
  }
  .menu-container li a {
    padding: 0.5rem 1rem;
  }

  .container .title_homepage h1 {
    font-size: 25px;
    font-family: Verdana;
    margin-left: 65px;
    margin-top: 20px;
  }
  .container .img_fluid {
    width: 250px;
    height: auto;
    position: relative;
    right: 0;
    left: 65px;
    top: 0;
  }
  .container .welkomteksten {
    font-size: 18px;
    width: 300px;
    margin-left: 45px;
  }

  .stagecontainer .stagetitel h1 {
    font-size: 25px;
    font-family: Verdana;
    margin-left: 65px;
    margin-top: 20px;
  }
  .stagecontainer .img-stage {
    width: 250px;
    height: auto;
    position: relative;
    right: 0;
    left: 65px;
    top: 0;
  }
  .stagecontainer .stageteksten {
    font-size: 18px;
    width: 300px;
    margin-left: 45px;
  }

  .portfolio-items .list-group {
    display: flex;
    justify-content: normal;
    flex-direction: column;
    margin-top: 40px;
  }
  .portfolio-items .list-group .list-group-item .items {
    width: 300px;
    height: auto;
    text-align: center;
  }

  .accordion {
    width: 300px;
    margin-left: 40px;
    margin-top: 50px;
  }
  .accordion .accordion-title span {
    transform: rotate(0deg);
    -ms-writing-mode: lr-tb;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
    padding-left: 33px;
    padding-right: 33px;
    line-height: 65px;
  }
  .accordion .accordion-content {
    background-color: #f7f7f7;
    color: #7f8787;
    height: 280px;
    margin-bottom: -280px;
    margin-right: 0;
    padding: 30px;
    width: 100%;
  }

  .positionh1 {
    position: relative;
  }
  .positionh1 .titlecss {
    position: absolute;
    left: 50px;
    top: 0px;
    font-size: 50px;
    font-family: "Verdana", sans-serif;
  }

  .content-stage {
    display: flex;
    flex-direction: column;
    line-height: 1.5rem;
    margin-top: 70px;
    position: relative;
    margin-left: 50px;
  }
  .content-stage p {
    width: 290px;
    margin-top: 100px;
  }
  .content-stage img {
    width: 290px;
    margin-left: 0;
  }

  .positionh1-2 {
    position: relative;
  }
  .positionh1-2 .titlecss {
    position: absolute;
    left: 50px;
    top: 10px;
    font-size: 50px;
    font-family: "Verdana", sans-serif;
  }

  .content-stage2 {
    display: flex;
    flex-direction: column;
    line-height: 1.5rem;
    margin-top: 20px;
    position: relative;
  }
  .content-stage2 p {
    width: 290px;
    margin-top: 100px;
  }
  .content-stage2 img {
    width: 290px;
    margin-left: 50px;
  }
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  .container .title_homepage h1 {
    margin-top: 50px;
    margin-left: 20px;
    font-size: 30px;
    text-align: center;
  }
  .container .welkomteksten {
    font-size: 20px;
    margin-left: 120px;
    width: 600px;
  }
  .container .img_fluid {
    width: 500px;
    height: auto;
    position: relative;
    top: 0;
    right: 0px;
    left: 150px;
  }

  .stagecontainer .stagetitel h1 {
    margin-top: 30px;
    margin-left: 20px;
    font-size: 30px;
    text-align: center;
  }
  .stagecontainer .stageteksten {
    margin-left: 120px;
    font-size: 20px;
  }
  .stagecontainer .img-stage {
    position: relative;
    top: 0px;
    left: 120px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1600px) {
  .navbar {
    font-size: 30px;
  }

  .container .title_homepage h1 {
    margin-top: 50px;
    margin-left: 30px;
    font-size: 30px;
    text-align: center;
  }
  .container .welkomteksten {
    font-size: 25px;
    width: 650px;
    margin-left: 150px;
    text-align: center;
  }
  .container .img_fluid {
    width: 500px;
    height: auto;
    position: relative;
    top: 0;
    right: 0px;
    left: 230px;
  }

  .stagecontainer .stagetitel h1 {
    margin-top: 35px;
    font-size: 30px;
    margin-left: 320px;
  }
  .stagecontainer .stagetitel .stageteksten {
    font-size: 25px;
    width: 650px;
    margin-left: 150px;
    text-align: center;
  }
  .stagecontainer .img-stage {
    width: 500px;
    height: auto;
    position: relative;
    top: 60px;
    right: 0px;
    left: 230px;
  }
}
.scroll .scrolltop {
  position: fixed;
  right: 15px;
  bottom: 15px;
  font-size: 60px;
  color: black;
}

/*
Theme Name: stageportfolio
Text Domain: stageportfolio
Version: 1.0
Description: Mustafa Maalin's stageportfolio
tags: stage, portfolio, responsive
Author: Mustafa Maalin
Author URI: mustafamaalin.nl
*/

/*# sourceMappingURL=style.css.map */
