.container {

  line-animation::after {
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: black;
    transition: 300ms;
  }

  line-animation:hover::after {
    width: 100%;
  }
}

.box-field {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  @media only screen and (max-width: 636px) {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    img {
      margin-top: 30px;
    }
  }
}

.margin-container {
  margin-top: 100px;
  display: flex;
  flex-direction: row;

  .col-lg-8 {
    margin-top: 150px;
  }

  @media only screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    .col-lg-8 {
      margin-top: 0px;
    }
    img {
      margin-top: 30px;
    }
  }
}

.welkomteksten {
  font-size: 20px;
  width: 600px;
  margin-left: 208px;
}

