.portfolio-titel {
  color: black;
  text-align: center;
  font-size: 40px;
  font-family: $font-h1;
}

.portfolio-items {


  .list-group {
    display: flex;
    margin-top: 150px;
    justify-content: space-evenly;
    flex-direction: row;

    .list-group-item_portfolio {
      list-style-type: none;


      .items {
        width: 400px;
        height: auto;
        text-align: center;
        transition: all 0.8s ease-in-out;
        display: flex;
        flex-direction: column;

        &:hover {
          transform: scale(0.8);
        }


        a {
          text-decoration: none;
          color: black;
          font-family: $font-h1;
        }

        p {
          font-family: $font-h1;
        }

      }
    }
  }

}