.portfolio-items {
  .portfolio-titel {
    color: black;
    text-align: center;
    font-size: 60px;
    font-family: $font-h1;
  }

  .list-group {
    display: flex;
    margin-top: 150px;
    justify-content: space-evenly;


    .list-group-item {
      list-style-type: none;

      .items {
        width: 400px;
        height: auto;
        text-align: center;

        a {
          text-decoration: none;
          color: black;
          font-family: $font-h1;
        }

        :hover {
          opacity: 0.5;
        }

      }
    }
  }
}