
.content-stage {
  display: flex;
  line-height: 1.5rem;
  margin-top: 150px;
  margin-left: 100px;
  position: relative;

  p {
    width: 900px;
    margin-top: 150px;
  }

  img {
    width: 500px;
    margin-left: 50px;
  }
}

.content-stage2 {
  display: flex;
  flex-direction: row-reverse;
  line-height: 1.5rem;
  margin-top: 150px;
  margin-right: 100px;
  position: relative;

  p {
    width: 900px;
    margin-top: 150px;
    margin-left: 50px;
  }

  img {
    width: 500px;
    width: 500px;
  }
}

.positionh1 {
  position: relative;

  .titlecss {
    position: absolute;
    left: 360px;
    top: 180px;
    font-size: 50px;
    font-family: $font-h1;
  }
}

.positionh1-2 {
  position: relative;

  .titlecss {
    position: absolute;
    right: 440px;
    top: 180px;
    font-size: 50px;
    font-family: $font-h1;
  }
}

.wrapper {
  display: flex;
  justify-content: center;
  position: relative;

}

.cta {
  position: absolute;
  left: 110px;
  display: flex;
  padding: 10px 45px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  color: black;
  //background: #6225E6;
  background: #A9A9A9;
  transition: 1s;
  box-shadow: 6px 6px 0 black;
  transform: skewX(-15deg);
}

.cta:focus {
  outline: none;
}

.cta:hover {
  transition: 0.5s;
  box-shadow: 10px 10px 0 black;
}

.cta span:nth-child(2) {
  transition: 0.5s;
  margin-right: 0px;
}

.cta:hover span:nth-child(2) {
  transition: 0.5s;
  margin-right: 45px;
}

span {
  transform: skewX(15deg)
}

span:nth-child(2) {
  width: 20px;
  margin-left: 30px;
  position: relative;
  top: 12%;
}
