
.navbar {
  position: fixed;
  width: 100%;
  top:0;
  height: 120px;
  background: $navbar-bg;

  ul {
    float: right;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    top: 20px;
    right: 0;
    position: absolute;
    margin-right: 200px;
    font-family: $font-p;

  }

  ul li a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    margin-right: 20px;

  }

  ul li a::after {
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: black;
    transition: 300ms;
  }

  ul li a:hover::after {
    width: 100%;
  }

  ul li a.active {
    opacity: 0.5;
  }

  .logo-image {
    width: 75px;
    margin-top: 10px;
    height: auto;
    margin-left: 200px;

  }
  i{
    //display: none;
  }
}