// media aliases and breakpoints
$screen-xs-s-min: 0px;
$screen-xs-s-max: 320px;

$screen-xs-min: 321px;
$screen-xs-max: 375px;

$screen-xs-l-min: 376px;
$screen-xs-l-max: 425px;

$screen-sm-min: 426px;
$screen-sm-max: 768px;

$screen-md-min: 769px;
$screen-md-max: 1024px;

$screen-lg-min: 1025px;
$screen-lg-max: 1440px;

$screen-xl-min: 1441px;
$screen-xl-max: 2560px;

// media devices
@mixin xs-s {
  @media screen and (min-width: #{$screen-xs-s-min}) and (max-width: #{$screen-xs-s-max}) {
    @content;
  }
}

@mixin xs {
  @media screen and (min-width: #{$screen-xs-min}) and (max-width: #{$screen-xs-max}) {
    @content;
  }
}

@mixin xs-l {
  @media screen and (min-width: #{$screen-xs-l-min}) and (max-width: #{$screen-xs-l-max}) {
    @content;
  }
}

@mixin sm {
  @media screen and (min-width: #{$screen-sm-min}) and (max-width: #{$screen-sm-max}) {
    @content;
  }
}

@mixin md {
  @media screen and (min-width: #{$screen-md-min}) and (max-width: #{$screen-md-max}) {
    @content;
  }
}

@mixin lg {
  @media screen and (min-width: #{$screen-lg-min}) and (max-width: #{$screen-lg-max}) {
    @content;
  }
}

@mixin xl {
  @media screen and (min-width: #{$screen-xl-min}) and (max-width: #{$screen-xl-max}) {
    @content;
  }
}

// media lt queries
@mixin lt-sm {
  @media screen and (max-width: #{$screen-xs-max}) {
    @content;
  }
}

@mixin lt-md {
  @media screen and (max-width: #{$screen-sm-max}) {
    @content;
  }
}

@mixin lt-lg {
  @media screen and (max-width: #{$screen-md-max}) {
    @content;
  }
}

@mixin lt-xl {
  @media screen and (max-width: #{$screen-lg-max}) {
    @content;
  }
}

// media gt queries
@mixin gt-xs {
  @media screen and (min-width: #{$screen-sm-min}) {
    @content;
  }
}

@mixin gt-sm {
  @media screen and (min-width: #{$screen-md-min}) {
    @content;
  }
}

@mixin gt-md {
  @media screen and (min-width: #{$screen-lg-min}) {
    @content;
  }
}

@mixin gt-lg {
  @media screen and (min-width: #{$screen-xl-min}) {
    @content;
  }
}